<suite name="Parallel Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="core.retry.RetryTransformer"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="All Tests">
        <classes>
            <class name="tests.AllureTest"/>
            <class name="tests.MyTest"/>
        </classes>
    </test>
</suite>